/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, 'Segoe UI',
    Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 25px;
  color: #222;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
